recursive-exclude * __pycache__
recursive-exclude * *pyc
recursive-exclude bioconvertui/bioconvertapi *
recursive-include bioconvertui/bioconvertwebui *
include requirements*txt
include CONTRIBUTING.rst
include LICENSE
include README.rst
recursive-exclude test *
