recursive-exclude * __pycache__
recursive-exclude * *pyc
recursive-exclude bioconvert-ui/bioconvertui/bioconvertapi *
recursive-include bioconvert-ui/bioconvertui/bioconvertwebui *
include requirements*txt
include CONTRIBUTING.rst
include LICENSE
include README.rst
recursive-exclude test *
